.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#search-form {
    margin-bottom: 20px;
}

#search-form input[type="text"] {
    padding: 10px;
    font-size: 1em;
    width: 60%;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

#search-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#current-temp {
    margin-bottom: 10px;
    font-size: 3em;
    color: #4CAF50;
}


#forecast {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#forecast li {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 10px;
}

#current-weather,
#forecast {
    margin-top: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #4CAF50;
}


#current-description {
    font-size: 1.5em;
    margin-bottom: 10px;
}


#current-weather div,
#forecast li {
    margin-bottom: 10px;
}


#forecast li {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #4CAF50;
    transition: all 0.3s ease;
}

#forecast li:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.1);
}

body {
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
}

body {
    background-image: url('/images/w2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #7f8c8d;
    /* fallback color */
}